/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Adding a background image to an element */
.background-element {
    background-image: url('../images/Anirudh.jpg');
    background-size: cover;  /* Cover the entire area of the container */
    background-position: center;  /* Center the background image */
    background-repeat: no-repeat;  /* Do not repeat the image */
    height: 500px;  /* Set a specific height */
    width: 100%;  /* Adjust the width as needed */
}

